@font-face {
  src: url('../fonts/constanb.ttf');
  font-family: cons;
}
@font-face {
  src: url('../fonts/copperplate.ttf');
  font-family: copper;
}

/* Primary Styles */
*, *::before, *::after {
   box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 1em;
}

h1 {
  font-size: 1.4em;
}

em {
  font-style: normal;
}

a {
  text-decoration: none;
  color: #000;
} 

a:focus {
  outline:none;
} 

table thead tr th{
  background-color:#f8a513;   
  border: none;
}

table tr{
  border: 3px solid #f8a513;
}

div.table-container {
  width:100%;       /* table width will be 99% of this*/
  height: 500px;    /* must be greater than tbody*/
  overflow: auto;
}

table {
  width: 97%;  /*100% of container produces horiz. scroll in Mozilla*/
  border: none;
  border-spacing: 0px;
  background-color: transparent;
}

table>tbody {
  overflow: auto;
  height: 280px;
  overflow-x: hidden;
}

table>tbody tr {
  height: auto;
}

table>thead tr {
  position:relative;
  top: 0px;/*expression(offsetParent.scrollTop); IE5+ only*/
}

.search{
  margin-top: 30px;
}

.search input{
  margin-bottom: 10px;
}

.table-container{
  margin-top: 20px;
  overflow-x:auto;
}

/* HEADER */

.navigation-bar {
  width: 100%;  
  height: 105px; 
  background-color: #000000; 
  border-bottom: 10px solid #f8a513;
  overflow: hidden;
  z-index: 100;
  position: fixed;
}

.logo {
  display: inline-block;
  width: 300px;
  height: 80px;
  margin-right: 20px;
  margin-top: 10px;    
}

.navigation-bar .nav > li > a {
  margin-top: 35px;
  color:#fff;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.navigation-bar .navbar-nav>li>a{
   color:#fff;
   cursor: pointer;
   font-family:copper;
   font-weight: bold;
   font-size: 1.3em;
   border-left:2px solid #fff; 
   padding: 0;
   padding-right: 30px;
   padding-left: 10px;
}
.navigation-bar .nav >li >a:hover,
.navigation-bar .nav >li >a:focus{
  color: #f8a513;
  background: none;
}

@media (max-width: 768px) {
    
.navigation-bar .navbar-nav{
  display: inline-block;
  float: right;
}
}

@media (max-width: 450px) {
    
    .logo {
      width: 200px;
      height: 60px;
      margin-top: 20px;
      margin-right: auto;
      margin-left: auto;
    }

    .navigation-bar .navbar-nav>li>a{
   font-size: 1em;
}

}

/* WRAPPER */
.wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.wrapper-content {
  margin-top: 150px;
  display: flex;
  flex: 1;
  margin-bottom: 20px;
}

/* SIDEBAR */
.sidebar-trigger {
  z-index: 99;
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: 4em;
  background: #000;
}

.sidebar-trigger > i {
  display: inline-block;
  margin: 1.5em 0 0 1.5em;
  color: #f8a513;

}

.sidebar-nav {
  position: fixed;
  top: 100px;
  left: -20em;
  overflow: hidden;
  transition: all .3s ease-in;
  width: 20em;
  height: 100%;
  background: #000000;
  color: #fff;
  z-index: 98;
}

.sidebar-nav:hover,
.sidebar-nav:focus,
.sidebar-trigger:focus + .sidebar-nav,
.sidebar-trigger:hover + .sidebar-nav {
  left: 0;
}

.sidebar-nav ul {
  position: absolute;
  top: 4em;
  left: 0;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  width: 20em;
}

.sidebar-nav ul li {
  width: 100%;
}

.sidebar-nav-link {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 4em;
  color: #fff;
  margin-bottom: 10px;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
}

a.active {
  background-color: #f8a513;
  color: #000;
}

.sidebar-nav-link em {
  position: absolute;
  top: 50%;
  left: 4em;
  transform: translateY(-50%);
}

.sidebar-nav-link:hover {
  background: #f8a513;
  color: #000;
}

.sidebar-nav-link > i {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 4em;
  height: 4em;
}

.sidebar-nav-link > i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
    .wrapper-content {
      margin-top:100px; 
      margin-left: 4em;
    }
    .sidebar-trigger {
      width: 4em;
    }
    .sidebar-nav {
      top: 100px;
      width: 4em;
      left: 0;
    }
    .sidebar-nav:hover,
    .sidebar-nav:focus,
    .sidebar-trigger:hover + .sidebar-nav,
    .sidebar-trigger:focus + .sidebar-nav {
      width: 20em;
    }
}

@media (min-width: 1024px) {
    .wrapper-content {
      margin-top:100px;
      margin-left: 20em;
    }
    .closebtn{
      display: none
    }
    .sidebar-trigger {
      display: none
    }
    .sidebar-nav {
      width: 20em;
    }
    .sidebar-nav ul {
      top: 1.3em;
    }
}

/* DASHBOARD */
.company-dash{
  width: 100%;
}

.company-dash .container{
  margin: 0;
  width: 100%;
}

.company-dash .company-info{
  margin-top: 25px;
  margin-bottom: 20px;
}

.company-dash .company-info p,
.company-dash .dash-links p{
  margin: 0;
  line-height: 1.2;
}

.company-dash .company-name{
  font-size: 40px;
}

.company-dash .company-username{
  font-size: 18px;
  color: gray;
}

.company-dash .divider{
  background: #f8a513;
  height: 5px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.company-dash .contact-info i,
.company-dash .dash-links i{
  margin-right: 10px;
}

.company-dash .contact-info{
  font-size: 15px;
  margin-top: 10px;
}

.company-dash .dash-border{
  width: 100%;
  height: 200px;
  border: 5px solid #f8a513;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 20px;
}

.company-dash .dash-links{
  background-color: #f8a513;
  height: 100%;
  border-radius: 5px;
  padding: 20px;
}

.company-dash .dash-links .big{
  font-size: 45px;
}

.company-dash .dash-links .medium{
  font-size: 30px;
}

.company-dash .dash-links .small{
  font-size: 15px;
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #000;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 20px;
}

.company-dash .dash-links .small span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.company-dash .dash-links .small span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.company-dash .dash-links .small:hover span {
  padding-right: 25px;
  padding-top: 5px;
  padding-left: 5px; 
}

.company-dash .dash-links .small:hover span:after {
  opacity: 1;
  right: 0;
  color: #000;
  padding-top: 5px;
}

.company-dash .dash-links .big i{
  font-size: 30px;
}

@media (min-width: 425px) {
    .company-dash .company-name{
        font-size: 40px;
    }
    .company-dash .dash-links .big{
      font-size: 45px;
    }
    .company-dash .dash-links .medium{
      font-size: 30px;
    }
    .company-dash .dash-links .big i{
      font-size: 30px;
    }
    .company-dash .dash-border{
      height: 200px;
    }
    .company-dash .contact-info{
      font-size: 15px;
    }
}

@media (min-width: 1024px) {
    .company-dash .dash-links .big{
      font-size: 55px;
    }
    .company-dash .dash-links .medium{
      font-size: 30px;
    }
    .company-dash .dash-links .big i{
      font-size: 35px;
    }
    .company-dash .dash-border{
      height: 250px;
    }
}

/* TRANSACTION */
.company-tran{
  width: 100%;
}

.company-tran a{
  color: #000;
}

.company-tran a:hover{
  color: #f8a513;
  text-decoration: none;
}

.company-tran .container{
  margin: 0;
  width: 100%;
}

a.btn-transact{
  text-decoration: none !important;
  font-family: copper;
  color:black;
  font-weight: bold;
  padding-left: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

a.btn-transact:hover{
  color:#f8a513; 
  text-decoration: none; 
}

a.btn-transact:focus{
  color:#f8a513;  
}

#modalAdd, #modalUpdate{
  overflow: hidden;
}

div.border{
  border: 3px solid #f8a513;
  padding: 8px;
  width:75%;
  margin: auto;
  margin-top: 18%;  
}

div.modal-dialog {
  height: auto;
}

div.header, div.body{
  padding: 15px;
}

div.body{
  margin-top: 30px;
}

div.footer{
  text-align: right;
}

div.footer button.title{
  font-family: Copperplate Gothic;
  font-size: 25px;
  border-style: none;
  border-radius: 0;
  transform: translateY(-665%);
  position:relative;
  padding: 10px 20px 10px 20px;
  background-color:#f8a513;
  color:#000;
  text-align: center;
  font-weight:bold;
  margin:auto;
  display: block;
}

div.footer button.title2{
  font-family: Copperplate Gothic;
  font-size: 24px;
  border-style: none;
  border-radius: 0;
  transform: translateY(-715%);
  position:relative;
  padding: 10px 20px 10px 20px;
  background-color:#f8a513;
  color:#000;
  text-align: center;
  font-weight:bold;
  margin:auto;
  display: block;
}

div.footer button.title0{
  font-family: Copperplate Gothic;
  font-size: 24px;
  border-style: none;
  border-radius: 0;
  transform: translateY(-250%);
  position:relative;
  padding: 10px 20px 10px 20px;
  background-color:#f8a513;
  color:#000;
  text-align: center;
  font-weight:bold;
  margin:auto;
  display: block;
}

input:focus {
  outline:none;
  border-bottom:3px solid #000;
}

input, select{
  border: none;
  border-bottom:3px solid #f8a513;
  width: 80%;
}

div.form-group{
  text-align: center;
}

.body .form-group input, .body .form-group select{
  padding-top: 10px; 
  width: 80%;
}

.body .form-group input.time{
  width: 37%;
}

.body .form-group input.TranA{
  width: 40%;
}

.body .form-group i{
  color:#000; 
}

.footer button{
   -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
   border-style: none;
   background-color:#f8a513;
   border-radius: 5px;
   font-size: 2vh;
   color:#000;
   text-align: center;
   font-family: Copperplate Gothic;
   font-weight: bold;
   margin-right: 15px;
   margin-bottom: 15px;
   padding: 10px;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
    div.transac-content {
      margin-left: 250px;
    }
}

@media screen and (max-width: 995px) {
    div.transac-content {
      margin-left: 0px;
    }
}

@media screen and (max-width: 425px){
    div.transac-content{
      padding:30px 0px!important;
    }
}

@media screen and (max-width: 425px){
    div.transac-content{
      padding:0px 0px!important;
    }
}

/* MOBILE */
.company-user{
  width: 100%;
}

.company-user .container{
  margin: 0;
  width: 100%;
}

a.btn-submit {
    color: #000;
    font-family: copper;
    font-weight: bold;
    font-size: 16px;
    float: right;
    -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
a.btn-submit:hover {
    text-decoration: none;
    color: #f8a513;
}

/* SETTING */
.company-setting{
    width: 100%;
}

.company-setting .container{
    margin: 0;
    width: 100%;
}

div.wrapper-dash div.content div.container{
    margin:0;
    width: auto;
}
div.main-wrap{
    text-align: center;
}
div.setting-main {
    height: 100%;
    width: 80%;
    padding: 40px 15px 30px;
    background-color: #f8a513;
    border: 5px solid #f8a513;
    margin-top: 35px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;: 
}
div.setting-form {
    margin: 10px 0px;
}
div.setting-form2 {
    margin: 10px 0px;
}
div.setting-buttons {
    margin: 25px 0px 0px;
}

.setting-main input[type=text], select#country, textarea,
input[type=email] {
    width: 100%;
    padding: 10px;
    background-color: #f8a513;
    border: none;
    border-bottom: 5px solid #000;
    font-family: cons;
    font-size: 18px;
}
button.setting-pass {
    height:40px;
    background-color: #f8a513;
    font-size: 16px;
    font-family: copper;
    font-weight: bold;
    border: none;
    color: #000;
    -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button.setting-pass:hover {
    color: #fff;
}

button.setting-pass:focus {
    outline: none;
}
a.setting-pass {
    height:40px;
    background-color: #f8a513;
    font-size: 14px;
    font-family: copper;
    font-weight: bold;
    border: none;
    color: #000;
    -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

a.setting-pass:hover{
    text-decoration: none;
    border:none;
    color: #fff;
}

button.setting-acc {
    height:auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f8a513;
    border: 3px black solid;
    border-radius: 5px;
    font-size: 16px;
    font-family: copper;
    font-weight: bold;
    color: #000; 
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button.setting-acc:hover {
  background-color: #000;
  color: #fff;
}

button.setting-acc:focus {
  outline: none;
}

div.setting-btn-toolbar {
  width: 80%;
  margin-left: 10%;
  margin-top: 5px;
}

#modalCPass{
  overflow: hidden;
}

div.form-group .form-check-input{
  margin: 10px auto;
   margin-top: 20px;
  width: 3%;
  margin-left:-50%;
}

div.footer button.title3{
  font-family: Copperplate Gothic;
  font-size: 24px;
  border-style: none;
  border-radius: 0;
  transform: translateY(-460%);
  position:relative;
  padding: 10px 20px 10px 20px;
  background-color:#f8a513;
  color:#000;
  text-align: center;
  font-weight:bold;
  margin:auto;
  display: block;
}
.footer button:hover{
  background-color: #ddd;
}

@media screen and (max-width: 1024px) {
    div.setting-btn-toolbar {
      width: 100%;
      transform: translateX(-10%);
    }
    button.setting-pass {
      width: 40%;
      margin: 0px;
    }
    button.setting-acc {
      width: 40%;
    }
}

@media screen and (max-width: 768px) {
    div.setting-main {
      width: 100%;
      margin-top: 15px;
    }
    div.setting-btn-toolbar {
      width: 100%;
    }
    button.setting-pass {
      width: 50%;
    }
    button.setting-acc {
      width: 49%;
    }
}

@media screen and (max-width: 550px){
    div.form-group .form-check-input{
      margin-left:-48%;
    }
}

@media screen and (max-width:560px){
    div.footer button.title3 {
      font-size: 23px;
      transform: translateY(-470%);
    }
}

@media screen and (max-width:520px){
    div.footer button.title3 {
      font-size: 20px;
      transform: translateY(-505%);
    }
}

@media screen and (max-width: 500px){
    div.border{
      margin-top:23%;
      width:85%;
    }
}

@media screen and (max-width: 499px){
    div.form-group .form-check-input{
      margin-left:-45%;
    }
}

@media screen and (max-width: 445px){
    div.footer button.title3 {
      font-size: 18px;
      transform: translateY(-535%);
    }
}

@media screen and (max-width: 425px) {
    div.setting-main {
      width: 100%;
      margin-top: 15px;
    }
    button.setting-pass {
      width: 100%;
      margin-top: 5px;
    }
    button.setting-acc {
      width: 100%;
      margin-top: 5px;
    }
    div.form-group .form-check-input{
      margin-left:-40%;
    }
}

@media screen and (max-width: 415px){
    div.footer button.title3 {
      font-size: 16px;
      transform: translateY(-579%);
    }
}

@media screen and (max-width: 375px){
    div.form-group .form-check-input{
      width: 5%;
      margin-left: -33%;
    }
    div.border{
      margin-top:35%;
      width:85%;
    }

    div.footer button.title0{
      font-size: 17px;
      transform: translateY(-290%);
    }

}

@media screen and (max-width: 354px){
    div.footer button.title3 {
      font-size: 15px;
      transform: translateY(-595%);
    }
}

@media screen and (max-width: 340px){
    div.footer button.title3 {
      font-size: 13px;
      transform: translateY(-625%);
    }
}

@media screen and (max-width: 320px){
    div.form-group .form-check-input{
      width: 6%;
      margin-left:-20%;
    }
    
    div.footer button.title3 {
      font-size: 13px;
      transform: translateY(-625%);
    }
}

/* QUEUE */
.transac-queue{
    width: 100%;
}

.transac-queue .container{
    margin: 0;
    width: 100%;
}

div.queue-title {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    font-family: copper;
    font-size: 40px;
    font-weight: bold;
}

div.queue-title2 {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-family: copper;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

div.queue-main {
    width: 60%;
    height: 300px;
    margin: auto;
    background-color: #f8a513;
    text-align: center;
    font-family: copper;
    font-size: 200px;
}

div.queue-main .id{
    background: none;
}

div .info{
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    border: 5px #f8a513 solid;
    border-radius: 5px;
    padding: 10px;
}
div .info p{
    text-align: left;
    font-family: copper;
    font-weight: bold;
}
div.queue-btn-toolbar{
margin: 15px 0px 5px;
}
a.queue-done {
    margin-top: 20px;
    width: 15%;
    height:50px;
    background-color: #f8a513;
    border-radius: 5px;
    color: #000;
    font-size: 24px;
    font-family: copper;
    font-weight: bold;
    padding: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}
a.queue-done:hover {
    text-decoration: none;
    background-color: #ddd;
    color: #000;
}

@media screen and (max-width: 1024px) {
    div.queue-container {
      width: 80%;
      transform: translateX(16%);
    }
    div.queue-main {
      width: 60%;
    }
    button.queue-next {
      margin-left: 340px;
    }
}

@media screen and (max-width: 768px) {
    div.queue-container {
      width: 100%;
      transform: translateX(0%);
    }
    div.queue-main {
      width: 60%;
    }
    button.queue-next {
      margin-left: 320px;
    }
}


@media screen and (max-width: 1024px) {
    div.queue-main {
        width: 80%;
    }
    div.info {
        width: 80%;
    }

}

@media screen and (max-width: 768px) {
    div.queue-main {
        width: 100%;
    }
    div.info {
        width: 100%;
    }

}

@media screen and (max-width: 767px) {
    div.info p {
        text-align: center;
    }

}

@media screen and (max-width: 425px) {
    div.queue-title {
        font-size: 48px;
    }

}

@media screen and (max-width: 375px) {
    div.queue-title {
        font-size: 40px;
    }
    
}


/* TRANSAC USER */
.transac-user{
  width: 100%;
}

.transac-user .container{
  margin: 0;
  width: 100%;
}

.transac-user .date-info{
  font-family:copper;
  font-size: 25px;
  color: #000;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* ADMIN */
.admin{
  width: 100%;
}

.admin{
  margin: 0;
  width: 100%;
}

.admin .container{
  margin:0;
  width: 100%;
}
.company-dash .tran-name{
  font-size: 25px;
}


/*LOADING PAGE*/
.loader {
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  background-color:#fff;
  display:flex;
  justify-content: center;
  align-items: center;
}
.section-out {
  position: absolute;
  border: 10px solid transparent;
  border-radius: 50%;
}

.section-out {
  width: 100px;
  height: 100px;
  border-top: 10px solid #f8a315;
  border-bottom: 10px solid #000;
  animation: clockwisespin 2s linear 2;

}

.loader .hidden {
  animation: fadeOut 500s;
  animation-fill-mode: forwards;
}

@keyframes clockwisespin {
  from { 
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(360deg);
  }

}

@keyframes fadeout{
  100% { 
    opacity: 0; 
 
    visibility: hidden;
  }
  
}