html,body{
   height:100%;
   width: 100%;
}

@font-face {
  src: url('../fonts/copperplate.ttf');
  font-family: copper;
}

.header-home nav{
   background: black;
}  

nav .container{
   width: 100%;
   
}


.header-home .navbar{
  margin-bottom: 0;
}

.navbar-brand {
   margin-top: 10px;
    padding: 0px;
   height: 70px;
}
.navbar-brand>img {
  height: 100%;
  width:300px;
}

.nav >li >a{
  padding-top: 30px;
  padding-bottom: 30px;
  color:#fff;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.header-home .nav >li >a:hover,
.header-home .nav >li >a:focus{
  color: #f8a513;
}

.nav > .d-hide{
   padding-top: 30px;
  padding-bottom: 30px;
  color:#fff;
}

.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 5px;
}

.navbar-inverse .navbar-nav>li>a{
   color:#fff;
   cursor: pointer;
   font-family:copper;
   font-weight: bold;
   font-size: 1.3em;
}

.navbar-right{
   margin: 0;
}

@media(max-width: 768px) {

      .navbar-brand {
         height: 60px;
      }

      .navbar-brand>img {
        width:250px;
      }

      .nav >li >a {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        display: block;
      }
      .nav >.d-hide{
         display: none;
         padding: 0;
      }

}
