@font-face{
   src: url("../fonts/branbol.ttf");
   font-family: branbol;
}
@font-face{
   src: url("../fonts/constanb.ttf");
   font-family: cons;
}
@font-face{
   src: url("../fonts/copperplate.ttf");
   font-family: copper;
}

.carousel{
   z-index: 0;
   width: 100%;
}

#myCarousel{
   height: 100%;
}

#myCarousel .item img{
   height: 100%;
} 

#myCarousel .item{
   height: 100%;
}

.carousel-indicators{
   top: 82%;
}

.carousel-inner{
   height: 100%;
}

.carousel-inner .item img{
   width: 100%;
}

.carousel-caption{
   transform: translateY(-75%)!important;
   text-align: left!important;
   left:6%!important;
   top:52%;
}

.carousel-caption h1{
   text-align: left;
   font-family:branbol;
   font-size: 5em;
}

.carousel-caption p{
   text-align: left;
   font-family:cons;
   font-size:40px;
}

.carousel-caption #btn-signup{
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
   background-color: #f8a513;
   border-radius:5px; 
   padding: 5px 22px;
   font-family:copper;
   font-weight:  Bold;
   font-size: 22px;
   color: black;
}

.carousel-caption #btn-signup:hover{
   background-color: #ddd;
   text-decoration: none;
 }

a.left, a.right{
   width: 100px;
}

#myModal{
   overflow: hidden;
}

div.border1{
   border: 3px solid #f8a513;
   padding: 8px;
   width:60%;
   margin: auto;
   margin-top: 20%;  
}

div.modal-dialog {
   height: auto;
}

div.header, div.body{
   padding: 15px;
}

div.footer{
   text-align: right;
}

div.form-group{
   margin: 30px 0px 0px 0px;
   text-align: center;
}

div.form-group .form-check-input{
   margin: 8px;
   margin-top: 25px;
   border-radius: 5px;
}

.body .form-group  input:focus {
   outline:none;
   border-bottom:3px solid #000;
}

.body .form-group input{
   border: none;
   border-bottom:3px solid #f8a513;
   padding-top: 10px; 
}

.body .form-group span {
   color:#000; 
}

.footer button{
   -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
   border-style: none;
   background-color:#f8a513;
   border-radius: 5px;
   font-size: 2vh;
   color:#000;
   text-align: center;
   font-family: copper;
   font-weight: bold;
   margin-right: 15px;
   margin-bottom: 15px;
   padding: 10px;
}
.footer button:hover{
   background-color:#ddd;
}
.footer button:focus{
   outline: none;
}

.footer button.title{
   font-family: copper;
   font-size: 30px;
   border-style: none;
   border-radius: 0;
   transform: translateY(-386%);
   position:relative;
   padding: 10px 20px 10px 20px;
   background-color:#f8a513;
   color:#000;
   text-align: center;
   font-weight:bold;
   margin:auto;
   display: block;
}

@media(max-width: 895px) {
      .carousel-caption{ 
      top: 55%;
      }

      .carousel-caption h1{
      font-size: 5.5em;
      }

      .carousel-caption p{
      font-size:55px;
      }

      .carousel-caption #btn-signup{
      font-size: 50px;
      }
}

@media(max-width: 768px) {
      div.border1{
      margin-top:23%;
      }

     .carousel-caption{ 
      top: 50%;
     }
   
      .carousel-caption h1{
      font-size: 6.5em;
      }

      .carousel-caption p{
      font-size:65px;
      }

      .carousel-caption #btn-signup{
      font-size: 60px;
      }
}

@media(max-width: 552px) {
      .carousel-caption{ 
      top: 50%;
      }

      .carousel-caption h1{
      font-size: 9.5em;
      }

      .carousel-caption p{
      font-size:80px;
      }

      .carousel-caption #btn-signup{
      font-size: 75px;
      }
}

@media(max-width: 515px) {
      div.border1{
      width:85%;
      margin-top: 28%;
      }
}

@media(max-width: 480px) {
      .carousel-inner   .img1{
      display: none!important;
      }

      .carousel-inner   .img2{
      display:block!important;
      }

      .carousel-caption{ 
      top: 50%;
      }

      .carousel-caption h1{
      font-size: 9.5em;
      }

      .carousel-caption p{
      font-size:80px;
      }

      .carousel-caption #btn-signup{
      font-size: 75px;
      }

      a.left, a.right{
      width: 50px;
      }
}

@media(max-width: 452px) {
      .carousel-caption{ 
      top: 50%;
      }

      .carousel-caption h1{
      font-size: 9.5em;
      }

      .carousel-caption p{
      font-size:80px;
      }

      .carousel-caption #btn-signup{
      font-size: 75px;
      }
}

@media(max-width: 390px){
      div.border1{
      width:85%;
      margin-top: 30%;
      }
}

@media(max-width: 375px) { 
      .carousel-caption{ 
      top: 50%;
      }
      
      .carousel-caption h1{
      font-size: 9.5em;
      }

      .carousel-caption p{
      font-size:80px;
      }

      .carousel-caption #btn-signup{
      font-size: 75px;
      }
}

@media(max-width: 320px) { 
       div.border1{
      width:90%;
      margin-top: 40%;
      }
      
      .carousel-caption{ 
      top: 50%;
      }
      
      .carousel-caption h1{
      font-size: 9.5em;
      }

      .carousel-caption p{
      font-size:80px;
      }

      .carousel-caption #btn-signup{
      font-size: 75px;
      }
}

/*LOADING PAGE*/
.loader {
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  background-color:#fff;
  display:flex;
  justify-content: center;
  align-items: center;
}
.section-out {
  position: absolute;
  border: 10px solid transparent;
  border-radius: 50%;
}

.section-out {
  width: 100px;
  height: 100px;
  border-top: 10px solid #f8a315;
  border-bottom: 10px solid #000;
  animation: clockwisespin 2s linear 2;

}

.loader .hidden {
  animation: fadeOut 500s;
  animation-fill-mode: forwards;
}

@keyframes clockwisespin {
  from { 
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(360deg);
  }

}

@keyframes fadeout{
  100% { 
    opacity: 0; 
 
    visibility: hidden;
  }
  
}